<!-- Filename: index.html
Created on: Mon Apr 7th, 2025
Created by: mahmedmo -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, viewport-fit=cover"
		/>
		<title>Poké Sight</title>
		<link
			rel="icon"
			type="image/png"
			href="{{ url_for('static', filename='assets/poke_sight_icon.png') }}"
		/>
		<link
			rel="shortcut icon"
			type="image/png"
			href="{{ url_for('static', filename='assets/poke_sight_icon.png') }}"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{{ url_for('static', filename='assets/poke_sight_icon.png') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='src/styles.css') }}"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
		/>
		<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	</head>
	<body>
		<video autoplay muted loop playsinline webkit-playsinline id="bgVideo">
			<source
				src="{{ url_for('static', filename='assets/background.mp4') }}"
				type="video/mp4"
			/>
			Your browser does not support the video tag.
		</video>
		<div class="container-main">
			<div class="header-container">
				<img
					class="header-icon"
					src="{{ url_for('static', filename='assets/poke_sight_icon.png') }}"
					alt="Poké Sight Icon"
				/>
				<div class="header-texts">
					<h1 class="header-text">Poké Sight</h1>
					<p class="header-subtext">Your Pokémon matchup clairvoyant.</p>
					<p class="header-instr">
						Enter the names of two Pokémon to predict the outcome of a battle.
					</p>
				</div>
				<div class="predict-info-container">
					<div class="predict-info-trigger">
						<img
							src="{{ url_for('static', filename='assets/question_icon.png') }}"
							alt="?"
							class="predict-info-icon"
						/>
						<span class="predict-info-text">How we predict</span>
					</div>
					<div class="predict-info-card">
						<img
							src="{{ url_for('static', filename='assets/predict_metrics.png') }}"
							alt="Prediction Metrics"
						/>
						<p>
							Predictions are derived from a weighted analysis of key Pokémon
							stats.
						</p>
					</div>
				</div>
			</div>
			<div class="pokemon-inputs">
				<div class="input-group">
					<input
						type="text"
						id="pokemon1"
						name="pokemon1"
						placeholder="First Pokémon"
						oninput="handleAutoSuggest(1)"
						required
					/>
					<div class="suggestions-container" id="suggestions1"></div>
				</div>
				<div class="input-group">
					<input
						type="text"
						id="pokemon2"
						name="pokemon2"
						placeholder="Second Pokémon"
						oninput="handleAutoSuggest(2)"
						required
					/>
					<div class="suggestions-container" id="suggestions2"></div>
				</div>
			</div>
			<div class="pokemon-boxes" id="pokemon-box">
				<div class="outer-box" id="box1">
					<div class="inner-box" id="inner-box1">
						<span class="question-mark" id="qm1">?</span>
					</div>
				</div>
				<div class="outer-box" id="box2">
					<div class="inner-box" id="inner-box2">
						<span class="question-mark" id="qm2">?</span>
					</div>
				</div>
				<div id="spinner" style="display: none"></div>
			</div>
			<div id="result-text"></div>
			<div class="submit-container">
				<button class="submit-btn btn-disabled" id="predict-btn" disabled>
					FIGHT!
				</button>
			</div>
			<div id="clear-container" style="display: none">
				<button id="clear-btn" class="submit-btn" onclick="handleClear()">
					Clear
				</button>
			</div>
			<div id="result-section"></div>
			<div id="fight-overlay">
				<div class="fight-text">FIGHT!</div>
				<div class="pokeball" style="top: 20%; left: 10%"></div>
				<div
					class="pokeball"
					style="top: 20%; right: 10%; animation-delay: 0.5s"
				></div>
				<div
					class="pokeball"
					style="bottom: 20%; left: 15%; animation-delay: 0.25s"
				></div>
				<div
					class="pokeball"
					style="bottom: 20%; right: 15%; animation-delay: 0.75s"
				></div>
			</div>
		</div>
		<a
			href="https://github.com/mahmedmo/PokeSight"
			target="_blank"
			class="github-link"
		>
			<img
				src="{{ url_for('static', filename='assets/github_icon.png') }}"
				alt="GitHub Repository"
			/>
		</a>
		<footer class="footer-trademark">
			<p>Poké Sight™</p>
		</footer>
		<audio
			id="fight-sound"
			src="{{ url_for('static', filename='assets/fight_bell.mp3') }}"
		></audio>
		<script src="{{ url_for('static', filename='src/main.js') }}"></script>
	</body>
</html>
